<html>
  <head>
    <script src="angular-1.5.0/angular.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app="myApp">
<div ng-controller="MyController">
<button ng-click="toggle()">Toggle</button>
      <p ng-show="visible">Hello World!</p>
    </div>
  </body>
</html>
