<html>
  <head>
    <script src="angular-1.5.0/angular.js"></script>
    <script>
      // สร้างตัวแปร app เป็น module ช่ือว่า myApp
      var app = angular.module('myApp', []);
      // สร้าง controller ชื่อ MyController
      app.controller('MyController', function($scope) {
        // กําหนดตัวแปรช่ือ value ให้มีค่าเป็น 'Tavon'
        $scope.value = 'Tavon';
      });
    </script>
  </head>
<!-- ผูกเข้ากับ module myApp -->
<body ng-app="myApp">
<!-- ผูกเข้ากับ controller ชื่อ MyController -->
<div ng-controller="MyController">
<!-- แสดงค่าตัวแปรชื่อ value -->
      <p>{{ value }}</p>
    </div>
<!-- ตัวแปรน้ีจะไม่แสดง เพราะอยู่นอกขอบเขตของ Controlle -->
    <p>{{ value }}</p>
  </body>
</html>
