<html ng-app>
  <head>
    <script src="angular-1.5.0/angular.js"></script>
    <meta charset="utf-8">
    <title>First App for AngularJS</title>
  </head>
  <body>
    <input type="text" data-ng-model="name"> {{ name }}
  </body>
</html>
