<html>
  <head>
    <script src="angular-1.5.0/angular.js"></script>
    <script>
      // สร้างตัวแปรชื่อ app กําหนดเป็น module ช่ือ myApp
      var app = angular.module('myApp', []);
      // สั่งให้สร้าง directive ช่ือ show
      app.directive('show', function() {
      // เร่ิมการทํางาน
        return {
          // เริ่มสร้าง function ของ element
          link: function(scope, element, attributes) {
            // กําหนดให้สลับค่าการแสดงผล เป็น '' กับ none
            scope.$watch(attributes.show, function(value) {
                element.css('display', value ? '' : 'none');
            });
          } }
      });
    </script>
</head>
<!-- ผูกเข้ากับ moudle myApp -->
<body ng-app="myApp">
<!-- สร้าง checkbox -->
<label for="checkbox">
<!-- สร้าง checkbox ผูกเข้ากับตัวแปร visible -->
<input id="checkbox" type="checkbox" ng-model="visible"> Toggle Me
    </label>
    <!-- สร้าง div และกําหนด element ชื่อ show ให้เป็นไปตามค่าตัวแปร visible -->
    <div show="visible">
      <p>Hello World</p>
    </div>
  </body>
</html>
