<!DOCTYPE html>
<html ng-app>
  <head>
    <script src="angular-1.5.0/angular.js"></script>
    <meta charset="utf-8">
    <title>First App for AngularJS</title>
  </head>
  <body>
    <h3>Example 1 : Test AngularJS</h3>
    <input type="text" data-ng-model="name">
    Name = {{ name }}
  </body>
</html>
